@import "tailwindcss";

@theme {
  --color-fondo: #ECE7DB;
  --color-texto: #0E1B2B;
  --color-acento: #5C8A00;
  --color-premio: #B8791F;
  --color-borde: #445066;

  --font-display: "Anton", sans-serif;
  --font-body: "Work Sans", sans-serif;
  --font-marcador: "JetBrains Mono", monospace;
}

.dark {
  --color-fondo: #0E1B2B;
  --color-texto: #ECE7DB;
  --color-acento: #C8FF4D;
  --color-premio: #FFB238;
  --color-borde: #5B7290;
}

body {
  background-color: var(--color-fondo);
}