@import "tailwindcss";

@theme {
  --color-fondo: #EEF2EF;
  --color-texto: #101826;
  --color-acento: #2F9E44;
  --color-premio: #C97F17;
  --color-borde: #5B6B7D;

  --font-display: "Anton", sans-serif;
  --font-body: "Work Sans", sans-serif;
  --font-marcador: "JetBrains Mono", monospace;
}

.dark {
  --color-fondo: #0E1B2B;
  --color-texto: #ECE7DB;
  --color-acento: #C8FF4D;
  --color-premio: #FFB238;
  --color-borde: #5B7290;
}

body {
  background-color: var(--color-fondo);
}